#header {
  width: 100vw;
  height: 68px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#header-ui {
  display: flex;
}

#avatar {
  display: none;
  cursor: pointer;
}

#photo-container {
  overflow: hidden;
  width: 100%;
  height: auto;
}