/* Customize the Leaflet popup */
.custom-title {
  font-weight: bold; /* To make the text bold */
  font-size: 72px; /* To set the font size (adjust as needed) */
}

.popup-content {
  font-size: 36px; /* To set the font size (adjust as needed) */
}

/* Define a CSS class for a styled button */
.orange-round-button {
  font-size: 36px;           /* Set the text size to 36 pixels */
  border-radius: 15px;       /* Add rounded corners */
  background-color: #FF9900; /* Set the background color to #FF9900 */
  color: white;              /* Set the text color to white (optional) */
  /* Add any additional styling you need */
}

/* Define a CSS class for a standard input button */
.input-round-button {
  font-size: 36px;           /* Set the text size to 36 pixels */
  border-radius: 10px;       /* Add rounded corners */
  background-color: #FFFFFF; /* Set the background color to #FF9900 */
  color: black;              /* Set the text color to white (optional) */
  position:absolute;
  right:0;
  /* Add any additional styling you need */
}
/* Define a CSS class for a styled right bottom button */
.br-orange-round-button {
  display: block;
  padding: 10px 90px; /* Add some padding */
  text-align: center; /* Center the text */
  font-size: 36px; /* Set the text size to 36 pixels */
  border-radius: 50px; /* Add rounded corners */
  background-color: #ff9900; /* Set the background color to #FF9900 */
  color: white; /* Set the text color to white (optional) */
  position:absolute;
  right: 0;
  bottom: 0;
  /* Add any additional styling you need */
}

.orange-round-button:hover {
  background-color: blue;
}

a {
  text-decoration: none; /* Remove underline */
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

:has(> .orange-round-button) {
  width: 100%;
  /* background-color: aquamarine; */
}
