/* Customize the Leaflet popup */
.custom-title {
  font-weight: bold; /* To make the text bold */
  font-size: 72px; /* To set the font size (adjust as needed) */
}

.popup-content {
  font-size: 36px; /* To set the font size (adjust as needed) */
}

/* Define a CSS class for a styled button */
.orange-round-button {
  font-size: 36px;           /* Set the text size to 36 pixels */
  border-radius: 10px;       /* Add rounded corners */
  background-color: #FF9900; /* Set the background color to #FF9900 */
  color: white;              /* Set the text color to white (optional) */
  /* Add any additional styling you need */
}

/* Custom CSS to change the background color to green */
.green-popup {
  background-color: green;
  color: white; /* You may also want to change the text color for readability */
}
